:host {
  display: block;
  height: 100%;
}

.chart-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 1rem;
  flex: 0 0 auto;
}

.chart-container {
  flex: 1;
  min-height: 0;
  position: relative;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
